*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#main{
   display: flex;
   justify-content: space-between;
}
.one{
     padding: 50px;
    margin: 10px;
}
.one h1{
    margin-left: -1px;
    font-size: 32px;
}
.one p{
    font-size: 28px;
    margin: -1px;
    margin-top: 10px;
    
}
.one h2{
margin: 15px;
padding: 5px;
border: 3px solid black;
width: 150px;
margin-left: -1px;
text-align: center;
color: white;
background-color:black ;
border-radius: 12px;
}
    
    
